on: [push, pull_request]
name: CI
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go 1.25.5
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
          check-latest: true
      - name: Checkout repository
        uses: actions/checkout@v6

      # Test and report coverage
      - name: Run tests with coverage
        run: go test -covermode=atomic -coverprofile=coverage.out ./...

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: coverage.out

      # Make sure templ generate was executed before commit
      - name: Generate templates
        run: go run github.com/a-h/templ/cmd/templ@v0.3.960 generate
      - name: Check file changes after templ generate
        run: |
          git diff --exit-code
        id: diff_files_after_templ_generate
        continue-on-error: true
      - name: Fail if changes are detected
        if: steps.diff_files_after_templ_generate.outcome == 'failure'
        run: |
          echo "Detected uncommitted changes after running templ generate." \
          "Please regenerate .templ templates and commit changes." && exit 1

      # Try compile
      - name: Compile
        run: go build -o /dev/null .
